.ant-table-pagination {
  margin: 16px 0px 0px 0px !important;
}

/* .pin {
  background-color: black;
  color: white;
}

.pin td {
  background-color: black !important;
}

.pin .ant-progress-text {
  color: white;
}

.done {
  background-color: #999999;
  color: white;
}

.done td {
  background-color: #999999 !important;
}

.done .ant-progress-text {
  color: white;
} */

/* table */
#table {
  --main-color: #0d902c;
  --green300-color: #c8ebb8;
  --darkGray-color: #3d3d3b;
  /* --contentBg-color: #f9faf8; */
  border-radius: 5px 5px 0 0;
}
.ant-table {
  --main-color: #0d902c;
  --green300-color: #c8ebb8;
  --darkGray-color: #3d3d3b;
  background: #f9faf8 !important;
  /* --contentBg-color: #f9faf8; */
  min-height: calc(100vh - 65px - 38px- 64px) !important;
}
.ant-table-thead {
  color: #3d3d3b !important;
  padding: 8px 16px !important;
  border-bottom: none !important;
  background: var(--main-color) !important;
}
.ant-table-content {
  color: #3d3d3b !important;
  /* background-color: var(--contentBg-color); */
  font-size: 18px !important;
  font-weight: normal !important;
  /* border-bottom: #c2d7e6 1px solid !important; */
}
.ant-table-thead > tr > th {
  background-color: var(--green300-color) !important;
  color: var(--darkGray-color) !important;
  font-size: 16px;
  font-weight: normal !important;
  border-bottom: none !important;
}

.ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  /* height: 1.6em; */
  background-color: #3d3d3b !important;
  transform: translateY(-50%);
  transition: background-color 0.3s;
  content: "";
}
/* .ant-table-tbody .ant-table-row {
  height: 100px !important;
} */
.ant-table-tbody .ant-table-row .ant-table-cell {
  font-size: 16px !important;
  font-weight: normal !important;
}
.ant-table-tbody > tr > td {
  font-size: 16px !important;
}
td {
  vertical-align: middle !important;
  border-bottom: 1px solid #aeaeae !important;
}

/* td.ant-table-column-sort {
  background: var(--contentBg-color) !important;
} */
