.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #E5ECEE !important;
}

.ant-layout-header {
  background: #4B595F !important;
  color: #DAC9A6 !important;
  height: 100% !important;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: #DAC9A6 !important;
  background: #4B595F !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #B0BBBF !important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
  border-color: #4B595F !important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover{
  background-color: #B0BBBF !important;
}